#currency{
    padding-inline: 10px;
    margin: 5px;
    color: white;
    background: rgb(102, 102, 172);
    }
button{
    padding: 10px;
    margin: 5px;
    color: white;
    background: #000;
    border-radius: 10%;
}
header{
    text-align: center  ;
}
.main{
    font-size: 25px;
    margin-top: 18px;
    
}